body{
	display:flex;
	align-items: center;
	flex-direction: column;
	background: #F2EAC6;
}

canvas {
    border: 1px solid #d3d3d3;
	background-color: #f1f1f1;
	width: 475px;
	margin: auto;
}

.buttonWrapper{
	margin-top: 10px;
	display: grid;
	width: 150px;
	height: 150px;
	grid-template-columns: 50px 50px 50px;
	grid-template-rows: 50px 50px 50px;
	grid-template-areas: ". up ." " left . right" ". down .";
}
.arrow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow i {
	border-radius: 50%;
	height: 80%;
	width: 80%;
	display: flex;
    justify-content: center;
	align-items: center;
	box-shadow: 0 0 0 rgba(78, 182, 223, 0.4);	
	color: #523A34;
	animation: none;
}

.arrow i:hover{
	animation: pulse 2s infinite;
}

#buttonUp{
	grid-area: up;
}

#buttonDown{
	grid-area: down;
}

#buttonLeft{
	grid-area: left;
}

#buttonRight{
	grid-area: right;
}

.button {
    height: 40px;
	width: 30%;
	padding: 15px 30px;
	margin: 5px !important;
    border: 2px solid #E5CA42;
    background-color:#F2DD6E;
    margin: 5px 0;
    border-radius: 3px;
    transition: 0.3s all;
    font-family: Arial, "sans-serif";
    color: #fffce6;
    font-weight: bold;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.bottomWrapper{
	width: 475px;
	display: flex;
	margin: 30px 30% 0px 30%;
}

@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(78, 182, 223, 0.4);
	}
	70% {
		box-shadow: 0 0 0 10px rgba(78, 182, 223,0);
	}
	100% {
			box-shadow: 0 0 0 0 rgba(78, 182, 223,0);

	}
}
	
@media (max-width: 475px) {
	canvas{
		width: 100% !important;
		height: auto !important;
	}

	.buttonWrapper{
		width: 120px;
		height: 120px;
		grid-template-columns: 40px 40px 40px;
		grid-template-rows: 40px 40px 40px;
	}

	.bottomWrapper{
		width: 100%;
	}
}